/* Les polices d'écritures */
@font-face {
	font-family: "RoadRage";
	src: url('fonts/Road_Rage.otf');
}

@font-face {
	font-family: "Arcade";
	src: url('fonts/ARCADE.TTF');
}
@font-face {
	font-family: "VCR_OSD";
	src: url('fonts/VCR_OSD_MONO_1.001.ttf');
}
@font-face {
	font-family: "SFAlien";
	src: url('fonts/TrueType/SFAlienEncounters.ttf');
}

.tableau {
  justify-content: center;
  display:flex;
  margin-top: 15rem;
}

#form-about {
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;

}

.card {
  background-color: #bababa;
}

.table {
  justify-content: space-between;
}

body {
	margin:0;
}

.jumbotron {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.card-body {
	height:100vh;

}

.card-title {

	padding-bottom:3rem;
	color: red;
	border-bottom: solid red 2px;
	font-family: "RoadRage";
	font-size: 40px;
	text-align: center;

}


.card-text {
	color:white;
	padding-bottom:4rem;
	padding-top:3rem;
	font-family: "RoadRage";
	letter-spacing: 3px;
	line-height: 30px;

}

.date-title {
	color:white;
	padding-top:1rem;
}

.fa {
	color:white;
	justify-content: center;
	display:flex !important;
	font-size:50px !important;
	padding-bottom:5rem;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  /* object-fit: cover; */
}

 .container {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0.5;
  z-index: 1;
}
